<h1 class="text-center mb-3">{{title}}</h1>
<form action="/backend" method="POST" class="mb-4">
<input type="submit" value="Add Backend" class="btn btn-primary btn-block">
</form>
  <button class="btn btn-primary btn-block" id="delete" data-method="DELETE"> Remove Backend</button>

